.logo-collab {
    display: flex;
    justify-content: center;
    width: 100%;
}

.title-side-menu {
    text-align: center;
}

.credit {
    position: fixed;
    bottom: 16px;
}

.linkActive {
    color: red;
}