/* You can add global styles to this file, and also import other style files */
@import url("../node_modules/primeicons/primeicons.css");
@import url("../node_modules/primeng/resources/themes/saga-orange/theme.css");
@import url("../node_modules/primeng/resources/primeng.min.css");

.full-width {
    width: 100%;
}

.margin-top-8 {
    margin-top: 8px;
}

.cursor-pointer {
    cursor: pointer;
}